{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.mts"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
